<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>

    <!--配置元素的顺序：
        properties,
        settings,
        typeAliases,
        typeHandlers,
        objectFactory,
        objectWrapperFactory,
        reflectorFactory,
        plugins,
        environments,
        databaseIdProvider,
        mappers
    -->
    
    <settings> <!-- 全局变量的设置 -->
        <setting name="logImpl" value="LOG4J2"/><!-- 日志设置 -->
        <!-- <setting name="mapUnderscoreToCamelCase" value="true"/> -->       <!-- 自动下划线匹配驼峰 -->
        <setting name="aggressiveLazyLoading" value="false"/>                  <!-- 延迟加载设置 -->
        <!-- <setting name="cacheEnabled" value="false"/> -->                  <!-- 二级缓存设置 -->
        <!-- <setting name="localCacheScope" value="STATEMENT"/> -->           <!-- 一级缓存作用域 -->
    </settings>
    
    <plugins>
        <plugin interceptor="com.skych.fullsystem.mybatis.plugin.CamelHumpInterceptor"/>
    </plugins>
    
</configuration>
